<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ site.title }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ "/assets/css/vendor/bootstrap.min.css" | relative_url }}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ "/assets/css/vendor/font-awesome.min.css" | relative_url }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="{{ "assets/css/vendor/simple-line-icons.css" | relative_url }}" rel="stylesheet">

    <!-- Favicon -->
    <link href="{{ "assets/img/favicon.ico" | relative_url }}" rel="icon" type="image/x-icon">

    <!-- Custom CSS -->
    <link href="{{ "assets/css/style.css" | relative_url }}" rel="stylesheet">
    
    <!-- Google Search Console -->
    <meta name="google-site-verification" content="J-0EYte2UwmXJQSa9833ym4BvMoI8p1UVg7SRQvSGKM" />
</head>
